@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Index">Students</a>
    </div>
</div>
